body{
    background-color: rgb(99, 92, 92);

}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2rem;
}

.copy {
    height: 8px;
    width: 16px;
}
.container{
    width:425px;
    background-color: rgb(17, 17, 17);
    height: 540px;
    border-radius: 10px;
    margin:auto;
    left:10px;
    padding:5px;
    


}
p {
    margin-left: 10px;
    color: azure;
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

#screen {
    background-color: aquamarine;
    height:70px;
    width: 420px;
    margin:5px;
  padding-left: -40px;
    font-size:4rem;
    border-radius:8px;
    text-align: right;

}
.button {
    color: white;
    background-color: rgb(51, 51, 51);
    height: 70px;
    width:90px;
    font-size: 2.5rem;
    margin: 6.5px;
    border-radius:15px;
}

.button:hover{
    color:rgb(234, 247, 56);
    border-color: white;
}

.operator {
    background-color: rgb(61, 61, 61);
}

.clear {
    background-color: rgb(148, 0, 0);
}